/* CSS files add styling rules to your content */

 body {
        background-color: #625404;
      }

      #meme {
        position: relative;
        margin: 50px auto;
        width: 600px;
      }

      h1, h2 {
        font-family: Impact, "Helvetica Neue", sans-serif;
        text-align: center;
        margin: 0 auto;
        width: 100%;
        text-shadow:
          -3px -3px 0 #000, 3px -3px 0 #000, -3px 3px 0 #000, 3px 3px 0 #000;
      }

      h1 {
        color: blue;
        font-family: Impact;
        font-size: 42px;
        position: absolute;
        top: 15px;
      }

      h2 {
        color: white;
        font-family: Impact;
        font-size: 50px;
        position: absolute;
        bottom: 20px;
        width: 100%;
      }
      
      img {
        border: 10px solid white;
        box-shadow: 0px 3px 5px rgba(0,0,0,.4);
        margin: 0 auto;
        display: block;
        box-sizing: border-box;
        width: 100%;
      }

.glitchButton {
position:fixed;
  top:20px;
  right:20px;
}

@media (max-width: 600px) {
  .glitchButton {
  }
}
  